{% extends "base_nav.html" %}


{% load static %}
{% block content %}
    <div class="w3-row w3-padding-64">
        <div class="w3-container">
            <div class="w3-row">
                <div class="w3-container">
                    <h1 class="w3-text-teal">Our Catalogue</h1>
                    <p>Here's just a few of the books we would recommend you read...</p>
                    <div class="book-grid">
                        {% for book in books %}
                            <div class="w3-container" style="width: 100%">


                            <div class="w3-panel w3-border w3-round">
                                <div class="m-2">
                                    <img src="{{ book.image.url }}" alt="{{ book.title }}">
                                    <h3>{{ book.title }}</h3>
                            <table class="w3-table-all mb-2">
                                <tr>
                                    <td><b>Author: </b></td>
                                    <td>{{ book.author }}</td>
                                    <td><b>Genre: </b></td>
                                    <td>{{ book.genre }}</td>
                                    <td><b>ISBN: </b></td>
                                    <td>{{ book.isbn }}</td>
                                    <td><b>Available Copies: </b></td>
                                    <td>{{ book.available_copies }}</td>
                                </tr>
                            </table>
                                    <a href="{% url 'checkout' book.id %}"><button class="w3-button w3-teal">Checkout Book</button></a>
                            </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

