{% extends "base_nav.html" %}


{% load static %}
{% block content %}
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">About Us</h1>
            <p>Here are just some core values we believe in:</p>
            <ul>
                <li>Intellectual freedom: this library supports the right of individuals to seek and receive information
                    on all subjects without restriction or censorship.
                </li>
                <li>Access to information: this library provides access to information and resources for all members of
                    the community regardless of age, race, gender, or economic status.
                </li>
                <li>Lifelong learning: this library promotes learning and education for all ages and stages of life.
                </li>
                <li>Cultural awareness: this library recognizes and celebrates the diversity of our community and
                    provide resources and programming that reflect the cultural and linguistic diversity of our users.
                </li>
                <li>Privacy and confidentiality: this library protects the privacy of our users and ensures that their
                    personal information and reading choices are kept confidential.
                </li>
                <li>Community service: this library is an active and engaged member of the community, providing
                    resources, programming, and support to promote the well-being of our users.
                </li>
                <li>Ethical conduct: this library adheres to ethical standards and professional conduct in all of its
                    operations and interactions with our users and the community.
                </li>
                <li>Sustainability: this library strives to be environmentally sustainable and promote responsible use
                    of resources.
                </li>
                <li>Innovation: this library embraces new technologies and innovative practices to improve access to
                    information and services for our users.
                </li>
            </ul>

            <div class="w3-twothird w3-container">
                <h1 class="w3-text-teal">Contact Us!</h1>
                <p>If you face any issues or just want to inform of potential books we should include within our
                    catalogue, please reach out with the following methods:</p>
                <p>- Email: [insert random email here]</p>
                <p>- Phone: [insert random # here]</p>
                <p>- Mail: [insert random address here]</p>
            </div>
        </div>
    </div>

{% endblock %}