{% extends "base_nav.html" %}
{% load static %}
{% block content %}
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <div class="w3-row">
                <div class="w3-twothird w3-container">
                    {% if employee %}
                        <h1 class="w3-text-teal">Employment Information</h1>
                        <table class="w3-table-all">
                            <tr>
                                <th>Position</th>
                                <td>{{ employee.job_role }}</td>
                            </tr>
                            <tr>
                                <th>Salary</th>
                                <td>${{ employee.salary }}</td>
                            </tr>
                            <tr>
                                <th>Date Hired</th>
                                <td>{{ employee.date_hired }}</td>
                            </tr>
                        </table>
                    {% endif %}
                    <h1 class="w3-text-teal">Your Inventory</h1>
                    <p>Here are the books you currently have checked out.</p>
                    <hr>
                    <div class="book-grid">
                        {% for circulation in circulations %}
                            <table class="w3-table-all mb-2">
                                <tr>
                                    <th>Title</th>
                                    <td>{{ circulation.book.title }}</td>
                                </tr>
                                <tr>
                                    <th>Author</th>
                                    <td>{{ circulation.book.author }}</td>
                                </tr>
                                <tr>
                                    <th>Checked Out</th>
                                    <td>{{ circulation.checked_out }}</td>
                                </tr>
                                <tr>
                                    <th>Due Date</th>
                                    <td>{{ circulation.due_date }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    {% if circulation.is_overdue %}
                                        <td><p style="color: red"><b>Overdue</b></p></td>
                                    {% else %}
                                        <td><p style="color: green; margin: 0"><b>Not Overdue</b></p></td>
                                    {% endif %}
                                </tr>
                            </table>
                            <a href="{% url 'checkin' circulation.id %}">
                                <button class="w3-button w3-teal mb-2">Return Book</button>
                            </a>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

